.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #f2b418;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    margin-bottom: 0;
    padding-bottom: 0;
}
  
.topbarLeft {
    flex: 3;
    display: flex; /* Ensure flexbox is applied */
    align-items: center; /* Center vertically */
    justify-content: flex-start; /* Align content to the left */
}
  
.topbarLeft .logo {
    font-size: 24px;
    margin-left: 200px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-align: center; /* Ensure the text is centered */
    line-height: 1;
}
  
.topbarCenter {
    flex: 5;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
  
.topbarIcons {
    display: flex;
}
  
.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
  
.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.createPostButton {
    background-color: #007bff; /* Same as the nav-buttons */
    color: white;
    border: none;
    padding: 8px 12px; /* Match padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.createPostButton:hover {
    background-color: #0056b3; /* Same hover effect */
    transform: scale(1.05); /* Slight hover scaling */
}